# ================================================================
# ======================= Nastavení webu =========================
# ================================================================
url: 'https://pplkvally.github.io'
baseurl: ''

# patička webu (Copyright), jména záložek v prohlížeči
title: 'Letní tábor Piháček, skupina Pplk. Vally'

# Propíše se třeba do prokliků ze sociálních sítí, viz https://ogp.me/
# Takhle to bude vypadat:
# https://programmingpercy.tech/_app/immutable/assets/img0-346f98ae.webp
description: 'Jsme menší táborová skupina Pplk. Vally, která se primárně věnuje pořádání letních táborů u rubníka Pihatého, Piháček. Během roku navíc připravujeme i kratší tematické akce pro děti. Většina z nás sama na tomto táboře vyrůstala, a dnes tak s nadšením předáváme dál zkušenosti, které nás formovaly. Jsme součástí asociace TOM a zakládáme si na osobním přístupu a kvalitním programu.'
logo: "imgs/Pihacek_logo.png"

# Záložky na horní liště (zobrazovaný text + kam ukazují)
navigation_header:
- title: Domů
  url: /
- title: O nás
  url: /about/
- title: Příspěvky
  url: /blog/

# Záložky na dolní liště (zobrazovaný text + kam ukazují)
navigation_footer:
- title: Zpátky nahoru
  url: "#top"

# ================================================================
# ========================= Příspěvky ============================
# ================================================================

# Tahle stránka se dynamicky generuje, takže nemá vlastní md/html soubor
collections:
  posts:
    title: Příspěvky
    output: true
    description: "Zde si můžete přečíst o všech našich dobrodružstvích."
    # Note the '|' symbol, and the indent
    feature_text: |
      Krátký text na stránce s příspěvky, který překrývá obrázek.
      Tímhle trikem se dá taky dělat text na více řádků.
      Výsledek na webu je stejný, jako když to napíšeš na jednom řádku.
    feature_image: "/imgs/background_blog.jpg"

# ================================================================
# ========================== Nesahat =============================
# ================================================================

# Set theme
remote_theme: daviddarnes/alembic@main

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji
- jekyll-remote-theme

permalink: pretty

# Pagination
paginate: 5
paginate_path: blog/page:num

# Collection settings
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages
